:root{
    --page-1-color : steelblue;
    --page-2-color : tan;
    --page-3-color : teal;
    --page-4-color : slateblue;
}

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    font-family :Arial, Helvetica, sans-serif;
    line-height : 1.4rem;
    background-color : purple;
    color : #fff;
    overflow : hidden;
}

a{
    text-decoration: none;
}

#page1{ background-color: var(--page-1-color); }

#page2{ background-color: var(--page-2-color); }

#page3{ background-color: var(--page-3-color); }

#page4{ background-color: var(--page-4-color); }

.page{
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content : center;
    height : 100vh;
    text-align : center;
    padding : 0 4rem;
}

.page h1{
    font-size: 3rem;
    line-height : 2.8rem;
    margin: 1rem;
}

.page p{
    font-size: 1.3rem;
    margin: 1rem;
}

.btn{
    display : inline-block;
    background : #f4f4f4;
    color : #333;
    padding : 1rem 2rem;
    border : 0;
    font-size : 1.1rem;
    margin: 1rem;
    transition : all .3s ease-in-out;
}

.btn:hover,
.btn-dark{
    background : #333;
    color : #fff;
}

.btn-dark:hover{
   background: #fff;
   color : #333;
}

/* Animations */

#page1 h1 {
    transform : translateY(-1200px);
    animation: heading 1s forwards ease-in 1s;
}

#page1 p{
    transform : translateX(-1800px);
    animation: paragraph 1s forwards ease-in 2s;
}

/* Keyframes */

@keyframes heading{
    to{
        transform : translateY(0);
    }
}

@keyframes paragraph {
    to{
        transform : translateX(0);
    }
}